@import '@angular/material/prebuilt-themes/purple-green.css';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}
